@font-face {
  font-family: "SEGA LOGO FONT";
  font-style: normal;
  font-weight: normal;
  src: local("SEGA LOGO FONT"), url("SEGA.TTF") format("TTF");
}

h1 {
  font-family: "SEGA LOGO FONT";
  font-size: 5.5em;
  font-weight: 500;
  color: #dd3e54;
  text-align: center;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
